*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
}
/* #main{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* *********** */
#header{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#header .top-bar{
    height: 40px;
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .top-bar ul li{
    display: inline-block;
    line-height: 40px; 
}

#header .top-bar .top-bar-wrapper ul {
    display: inline-block;
    line-height: 40px;
}

#header .top-bar .contact .hotline{
    font-size: 14px;
    line-height: 24px;
    color: #8d8d8d;
    font-family: "Arial";
}

#header .top-bar .contact .phone-number{
    color: #ef7147;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
#header .top-bar .top-bar-wrapper .search-bar{
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #eeeeee;

}

#header .top-bar .top-bar-wrapper{
    display: flex;
    align-items: center;
}

#header .top-bar .top-bar-wrapper .search-bar input[type=text] {
    width: 100%;
    padding: 7px 10px 7px 15px;
}
#header .top-bar .top-bar-wrapper ::placeholder{
    font-size: 13px;
    line-height: 24px;
    color: #8a8a8a;
    font-family: "Arial";
}

#header .top-bar .top-bar-wrapper .search-box {
    width: 253px;
    height: 30px;
    border-radius: 3px;
    background-color: #eeeeee;
    border: none;
    display: flex;
    align-items: center;
}
#header .top-bar .top-bar-wrapper .search-box:focus{
    outline: none;
}

#header .top-bar .top-bar-wrapper .fa-search{
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    color: #ef7147;
    display: flex;
    align-items: center;
    padding: 8px 10px 12px 12px;
}


#header .top-bar .top-bar-wrapper .login{
    font-size: 12px;
    line-height: 24px;
    color: #8d8d8d;
    font-family: "Arial";
    text-decoration: none;
    padding-left: 15px;
}
/* ************** */

#header .break-line{
    width: 100%;
    border: none;
    border-top: 1px dashed #c3c3c3;
    
}
/* *********** */
#header .nav{
    height: 90px;
    width: 100%;
    max-width: 1140px;
    background-color:#fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav .nav-bar div{
    padding-left: 20px;
    padding-right: 20px;
    
}
.nav-bar div a {
    text-decoration: none;
}


.nav .nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar .fa-home {
    font-size: 16px;
    line-height: 22px;
    color: #ef7147;
}

.nav-bar .nav-bar-home-page a {
    font-size: 18px;
    line-height: 22px;
    color: #ef7147;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
}
.nav-bar .nav-bar-product a{
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
/* font-family: "U TM Bryant LG Bold"; */
}

.nav-bar .nav-bar-infor .fa-info-circle{
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    /* font-family: "Font Awesome"; */
}

.nav-bar .nav-bar-infor a{
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-weight: bold;
    font-family:"utm-bryantlg" ;
    font-family: 'Hind Siliguri', sans-serif;
    /* font-family: "U TM Bryant LG Bold"; */
}

.nav-bar-blog .fa-pencil-square-o{
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    font-weight: bold;
    
    /* font-family: "Font Awesome"; */
}

.nav-bar-blog a{
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
/* font-family: "U TM Bryant LG Bold"; */
}

.nav-bar .fa-phone{
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    font-weight: bold;
/* font-family: "Font Awesome"; */
}

.nav-bar .nav-bar-contact-2 a{
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
/* font-family: "U TM Bryant LG Bold"; */
}

.nav-bar .nav-bar-cart .icon .fa-shopping-bag{
    font-size: 35px;
    /* position: absolute; */
    
}

.nav-bar .nav-bar-cart .icon .fa-shopping-bag:hover{
    font-size: 35px;
    color: #ef7147;
    cursor:pointer;
}

.nav-bar .nav-bar-cart .icon .number {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #2a2a2a;
    color: #eeeeee;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -12px;
}
.nav-bar .nav-bar-cart a{
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-family: "Arial";
    padding-right: 0px;
}
.nav-bar .nav-bar-cart{
    display: flex; 
}

.nav-bar .nav-bar-cart .icon{
    display: flex; 
}
.nav-bar .nav-bar-cart .infor-cart{
    padding-left: 0px;
    padding-right: 0px;
}

.nav .nav-bar .nav-bar-cart{
    padding-right:0px ;
}
/* **************************** */
#content{
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
}

#content .content-wrapper {
    width: 1140px;
    margin-bottom: 60px;

}


#content .content-wrapper .breadcrumb{
    display: flex;
    margin-top: 30px;
}

#content .content-wrapper .breadcrumb .home-page{
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    text-decoration: none;
    padding-right: 5px;
}

#content .content-wrapper .breadcrumb .sign-up{
    font-size: 14px;
    line-height: 24px;
    color: #ef7147;
    text-decoration: none;
    padding-left: 5px;
}
#content .content-wrapper .register .title h2{
    font-size: 24px;
    line-height: 34px;
    color: #333333;
    font-weight: bold;
}

#content .content-wrapper .register .title{
    margin-bottom: 30px;
}


#content .content-wrapper .register-wrapper{
    display: flex;
    flex-wrap: wrap;
 
}

#content .content-wrapper .register-wrapper div h4{
    margin-bottom: 10px;
}

#content .content-wrapper .register-field{
    background-color: #ffffff;
    padding: 30px;
}


#content .content-wrapper .register-wrapper div{
    width: 525px;
    flex: 1  35%;
    margin-right: 15px;
    margin-bottom: 25px;

}

#content .content-wrapper .register-wrapper div input{
    padding-left: 10px;
}

#content .content-wrapper .register h4{
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

#content .content-wrapper .register .register-field .register-wrapper div h4{
    font-size: 14px;
    color: #333333;
    font-family: 'Hind Siliguri', sans-serif;
}


#content .content-wrapper .register .register-field .register-wrapper div input{
    width: 525px;
    height: 44px;
    border-radius: 4px;
    background-color: #f8f8f8;
    border: 1px solid #ebebeb;
}

#content .content-wrapper .register .register-field .register-wrapper div input:focus{
    outline: none;
}

#content .content-wrapper .register .register-field .register-wrapper button{
    width: 136px;
    height: 45px;
    border-radius: 4px;
    background-color: #ef7147;
    margin-bottom: 20px;
    
}

#content .content-wrapper .register .register-field .register-wrapper button h2{
    font-size: 14px;
    color: #ffffff;
    font-family: "Arial";
}
#content .content-wrapper .register .register-field div h5 a{
    font-size: 14px;
    line-height: 24px;
    color: #ef7147;
    text-decoration: none;
}

#content .break-line{
    width: 100%;
    border: none;
    border-top: 1px dashed #c3c3c3;
}

#content .content-wrapper .register .register-field .sign-in h5{
    margin-top: 10px;
    font-family: 'Hind Siliguri', sans-serif;
}






/* ************************************ */
/* ******************************** */
#footer{
    display: flex;
    justify-content: center;
    background-image: url(/assets/img/footer/background-footer.png);
    flex-direction: column;

}

#footer .footer-main{
    width: 1140px;
}
#footer .footer-main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #30170e;
    opacity: 90%;
}

#footer .footer-main .footer-main-wrapper{
    display: flex;
    width: 1140px;

}

#footer .footer-main .footer-infor{
    flex: 1 20%;
    padding-top: 50px;
}
#footer .footer-main .footer-infor > * > * {
    padding-bottom: 25px;
}

#footer .footer-main .footer-infor h2  {
    padding-bottom: 25px;
}

#footer .footer-main .footer-infor h2{
    font-size: 18px;
    line-height: 34px;
    color: #f4f4f4;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
    text-transform: uppercase;
}

#footer .footer-main .footer-infor div ul{
    list-style-type: none;
}

#footer .footer-main .footer-infor div {
    display: flex;
}

#footer .footer-main .footer-infor div i{
    padding-right: 5px;
    color: #c35c00;
}

#footer .footer-main .footer-infor div ul li{
    color: #bababa;
    
}

#footer .footer-main .footer-infor ul li{
    color: #bababa;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}

#footer .footer-main .footer-infor h4{
    color: #bababa;
    font-family: 'Hind Siliguri', sans-serif;
}

#footer .footer-main .footer-infor div ul .support{
    color: #c35c00;
    font-family: 'Hind Siliguri', sans-serif;
}

#footer .footer-main .footer-main-wrapper .footer-infor .support-cus{
    padding-left: 20px;
}

.newsletter ul li{
    list-style-type: none;
}

#footer .footer-main .footer-main-wrapper .newsletter .submit{
    display: inline-block;
}

#footer .footer-main .footer-main-wrapper .newsletter .submit input{
    width: 100%;
    border-radius: 4px;
    height: 34px;
    width: 262px;
    padding: 0px;
    padding-left: 15px;
}

#footer .footer-main .footer-main-wrapper .newsletter .submit input::placeholder{
    font-size: 14px;
    line-height: 24px;
    color: #8e8e8e;
    font-family: "Arial";
    margin: auto;
    
}
#footer .footer-main .footer-main-wrapper .newsletter .submit button{
    width: 100px;
    height: 34px;
    border-radius: 4px;
    background-color: #ef7147;
    padding: 0px;
}

#footer .footer-main .footer-main-wrapper .newsletter .submit button:hover{
    cursor: pointer;
}

#footer .footer-main .footer-main-wrapper .newsletter .submit input:focus{
    outline: none;
}

#footer .footer-bottom{
    height: 60px;
    background-color: #30170e;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .footer-bottom .footer-bottom-wrapper{
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

#footer .footer-bottom .footer-bottom-wrapper .policy .f1, .f3{
    color: #bababa;
    font-family: 'Hind Siliguri', sans-serif;
}

#footer .footer-bottom .footer-bottom-wrapper .policy .f2 ,.f4{
    color: #c35c00;
    font-family: 'Hind Siliguri', sans-serif;
}

#footer .footer-bottom .footer-bottom-wrapper .policy i{
    color: #bababa;
}

#footer .footer-bottom .footer-bottom-wrapper .footer-nav-bar{
    display: flex;
}

#footer .footer-bottom .footer-bottom-wrapper .footer-nav-bar .footer-nav-bar-item{
    color: #bababa;
    font-family: 'Hind Siliguri', sans-serif;
    padding-right: 20px;
}





